.announcement-section {
  background-color: rgb(0, 78, 128);
  color: white;
  align-items: center;
  text-align: center;
  height: 500px;
  margin: 50px;
}

.announcement-section > h2 {
  font-family: Sansita-Medium;
  font-size: 28pt;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 30px;
}

.announcements {
  margin: 50px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 960px) {
  .announcement-section {
    margin: 50px;
  }
  .announcement-section > h2 {
    font-size: 24pt;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
