.roadmap-container {
  background-color: rgb(147, 206, 244);
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.roadmap-container > h2 {
  font-family: Sansita-Medium;
  font-size: 28pt;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.map {
  display: flex;
  flex-direction: column;
}

@media (max-width: 960px) {
  .roadmap-container {
    height: 1060px;
  }
  .map {
    flex-direction: column;
  }
  .roadmap-container > h2 {
    font-size: 24pt;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
