.social-container {
  background-color: rgb(147, 206, 244);
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-container > h2 {
  font-family: Sansita-Medium;
  font-size: 28pt;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.socials {
  flex-direction: row;
}

.links {
  font-family: Sansita-Regular;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

@media (max-width: 960px) {
  .social-container > h2 {
    font-size: 24pt;
  }
}
