.about-container {
  background: url("../../images/website-bg.png") center center/cover no-repeat;
  height: 107vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  margin-top: -90px;
}

.about-container > h2 {
  font-family: Sansita-Medium;
  font-size: 28pt;
  align-items: center;
  display: flex;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 100px;
}

.about-container > p {
  font-family: Sansita-Regular;
  font-size: 16pt;
  margin-top: 5px;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
}
